@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:300,400,700,900|Muli|Open+Sans:400,600|Poppins:400,600&display=swap');
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
*{
	margin: 0px;
	padding: 0px;
}
a,a:hover{
	text-decoration: none;
}
ul,ol,li{
	list-style: none;
}
img{
	vertical-align: middle;
	border: none;
}
h1,h2,h3,h4,h5,h6,a,p,img,ul,ol,li,.navbar{
	margin: 0px;
	padding: 0px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
p {
	font-family: 'Lato', sans-serif;
}
a {
	font-family: 'Montserrat', sans-serif;
}
/*banner CSS Starts*/
.banner {
	background: url(../img/banner.jpg) no-repeat;
	background-size: cover;
	background-position: left;
	height: 1105px;
	width: 100%;
}
.banner h1 {
	padding: 447px 0px 87px 0px;
	font-size: 60px;
	color: #444444;
}
.banner p {
	color: #757575;
	font-size: 13px;
	padding-bottom: 46px;
}
.banner a {
	border: 1px solid #444444;
	color: #444444;
	padding: 20px 32px;
	font-size: 16px;
	
	transition: all linear .3s;
}
.banner a:hover {
	background: #ffe400;
}

/*banner CSS Ends*/
/*Header CSS Starts*/
.header {
	background: #2a2a2a;
	padding: 28px 0px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0;
	color: #d5d5d5;
	padding-left: 62px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	transition: all linear .3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
	color: #ffe400;
}											

/*Header CSS Ends*/

/*Portfolio CSS Starts*/

.portfolio {
	padding: 95px 0px 146px 0px;

}
.port_img {
	position: relative;
}
.port_con {
	position: absolute;
	top: 29px;
	left: 25%;
}
.port_con h3{
	font-size: 36px;
	font-weight: 700;
	color: #444444;
	text-transform: uppercase;
	text-align: center;
}
.port_h p  {
	font-size: 16px;
	color: #757575;
	padding: 37px 0px 98px 0px;
}
.port_h a {
	font-size: 16px;
	color: #000;
	padding: 25px 71px;
	background: #ffe400;
	margin-left: 25px;
	transition: all linear .3s;

}
.port_h a:hover {
	background: #000;
	color: #ffe400;
	border: 1px solid #a6a6a6;
}

.port_con_box {
	/*padding: 162px 0px;*/
	height: 396px;
	width: 360px;
	background: #000;
	position: relative;
}
.port_con_box i {
	font-size: 102px;
	color: #ffe400;
	padding: 90px 0px 56px 0px;
}
.port_con_box h3 {
	font-size: 24px;
	color: #fff;
}
.port_overlay {
	height: 396px;
	width: 360px;
	background: #ffe400;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all linear .3s;
}
.port_overlay h4 {
	font-size: 24px;
	color: #fff;
	padding: 205px 0px 40px 0px;
}
.port_overlay p {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	color: #fff;

}
.port_con_box:hover .port_overlay {
	opacity: 1;
}
.content {
	padding-top: 106px;
	position: relative;
}
.ab_imp_h h4 {
	padding: 183px 0px 160px 0px;
	font-size: 30px;
	color: #444444;
}
.ab_last h4 {
	font-size: 46px;
	color: #444444;
}
.ab_last p {
	font-size: 14px;
	color: #444444;
	font-family: 'Muli', sans-serif;
}
/*Portfolio CSS Ends*/

/*Boost CSS Stats*/
hr {
	margin: 0;
}
.boost {
	background: #fafafa;
	padding: 172px 0px 116px 0px;
}
.boost_img {
	position: relative;
}
.boost_h_con{
	position: absolute;
	top: 26px;
	left: 0;
}
.boost_h_con h4 {
	color: #444444;
	font-size: 26px;
	text-transform: uppercase;
}
.boost_h p {
	padding: 60px 0px 58px 0px;
	color: #757575;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}
.boost_opt {
	padding-bottom: 30px;
}
.boost_opt i {
	color: #757575;
	padding-bottom: 20px;
}
.boost_opt span{
	color: #757575;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	padding-bottom: 24px;
}
.boost_h a {
	padding: 16px 17px;
	background: #ffe400;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	color: #000;
}
/*Boost CSS Ends*/

/*About CSS Starts*/

.about {
	background: url(../img/who_bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 158px 0px;
}
.about_con h2 {
	padding: 65px 0px 43px 0px;
	color: #fdfdfd;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 44px;
}
.about_con p {
	padding-bottom: 95px;
	font-size: 16px;
	color: #fdfdfd;
	font-family: 'Muli', sans-serif;
}
.about_con a {
	padding: 24px 70px;
	border: 1px solid #fdfdfd;
	font-family: 'Montserrat', sans-serif;
	color: #fdfdfd;
	margin-left: 25px;
	transition: all linear .3s;
}
.about_con a:hover {
	background: #ffe400;
	border: none;
}
/*About CSS Ends*/

/*Features CSS Starts*/
.f_head {
	padding: 128px 0px 138px 0px;
}
.f_img {
	position: relative;
}
.c_head h4 {
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #444444;
	position: absolute;
	top: 35px;
	left: 25%;
}
.feature_content {
	padding-bottom: 78px;
}
.feature_content h5 {
	font-size: 18px;
	text-transform: uppercase;
}
.feature_content p {
	color: #757575;
	font-size: 16px;
	font-family: 'Muli', sans-serif;
}



/*Features CSS Ends*/

/*Work CSS Starts*/
.work {
	background: #ffe400;
	padding-bottom: 70px;											
}
.w_head {
	padding: 107px 0px 89px 0px;
}
.w_img {
	position: relative;
}
.con_head h4 {
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
}
.con_head {
	position: absolute;
	top: 35px;
	left: 40%;
}
.work_btn a {
	color: #000;
	padding: 10px 15px;
	border: 1px solid #000;
	font-family: 'Montserrat', sans-serif;
	margin-left: 10px;
	transition: all linear .3s;
}
.work_btn a:hover {
	background: #000;
	color: #fff;
}
.work_img {
	position: relative;
}
.work_overlay {
	height: 61px;
	width: 100%;
	background: rgba(255, 255, 255, .7);
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: all linear .3s;
}
.work_overlay p { 
	color: #444444;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.work_overlay span {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #757575;
}
.over_icon i {
	font-size: 14px;
	padding: 9px 10px;
	border-radius: 20px;
	border: 1px solid #000;
	margin-top: -6px;
	background: #fff;
	transition: all linear .3s;
}
.over_icon i:hover {
	background: #ffe400;
	border: none;
}
.work_img:hover .work_overlay {
	opacity: 1;
}
.row {
	margin-right: 0px;
}

/*Work CSS Ends*/

/*Service CSS Starts*/
.ser_h {
	padding: 160px 0px 60px 0px;
}
.ser_img {
	position: relative;
}
.left_img {
	padding-top: 150px;
}
.ser_con {
	position: absolute;
	top: 39px;
	left: 0;
}
.ser_con h3 {
	font-size: 30px;
	color: #444444;
}
.right_con {
	padding-bottom: 65px;
}

.right_con i {
	font-size: 36px;
	color: #444444;
}
.right_con h5 {
	font-size: 18px;
	color: #444444;
	padding: 40px 0px 37px 0px;
	text-transform: uppercase;
}
.right_con p {
	color: #757575;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}



/*Service CSS Ends*/

/*Pricing CSS Starts*/
.pricing {
	background: url(../img/pricing.jpg) no-repeat;
	background-size: cover;
	background-position: center;
 	padding: 103px 0px 108px 0px;
}

.pricing_img {
	position: relative;
}
.pricing_h_con {
	position: absolute;
	top: 36px;
	left: 35%;
}
.pricing_h_con h4 {
	font-size: 30px;
}
.pricing_list {
	position: relative;
	padding-top: 183px;
}
.pricing_overlay {
	height: 202px;
	width: 345px;
	background: rgba(68, 68, 68, .85);
	position: absolute;
	bottom: 0;
	left: 0;
}
.pricing_overlay h5 {
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;
	padding: 20px 0px 23px 0px;
	text-transform: uppercase;

}
.pricing_overlay sup {
	font-size: 25px;
	top: -30px;
}
.pricing_overlay h6 {
	color: #fff;
	padding-bottom: 34px;
}
.pricing_overlay span {
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;

}
.pricing_overlay p {
	font-family: 'Muli', sans-serif;
	font-size: 13px;
	color: #cdcdcd;
}
.options {
	height: 482px;
	width: 345px;
	background: #fff;
}
.options span{
	font-family: 'Muli', sans-serif;
	font-size: 13px;
	color: #808080;
}
.options_a {
	height: 20%;
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
}
.con {
	padding-top: 55px;
}
.option_b {
	height: 15%;
	border-bottom: 1px solid #f0f0f0;
	padding-top: 20px;

}
.con_b i{
	margin-right: 10px;
}
.pricing_start {
	height: 50px;
	width: 345px;
	background: #fff;
	margin-top: 5px;
}
.pricing_start p {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 12px;
	color: #444444;
}
/*Pricing CSS Ends*/

/*Experts CSS Starts*/
.expert {
	padding: 252px 0px 358px 0px;
}

.expert_img {
	position: relative;
}
.expert_h_con{
	position: absolute;
	top: 37px;
	left: 40%;
}
.expert_h_con h4 {
	color: #444444;
	font-size: 26px;
	text-transform: uppercase;

}
.expert_con {
	padding-top: 131px;
}
.exp_img {
	position: relative;
}
.exp_overlay {
	height: 521px;
	width: 345px;
	background: #ffe400;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all linear .3s;
}
.exp_overlay h3{
	font-size: 24px;
	padding: 95px 0px 22px 0px;
}
.exp_overlay h5 {
	font-size: 16px;
	padding-bottom: 75px;
}
.exp_overlay p {
	font-size: 14px;
	padding-bottom: 125px;
	border-bottom: 1px dashed #ab9900;
}
.exp_overlay .over_btn i {
	font-size: 19px;
	color: #6b6000;
	margin-left: 27px;
}
.over_btn {
    padding: 20px 26px 0px 0px;
}
.exp_name {
	height: 118px;
	width: 345px;
	background: #ebebeb;
	margin-top: 8px;
}
.exp_name h5 {
	padding: 15px 0px 15px 0px;
	border-bottom: 1px dashed #b7b7b7;
	color: #444444;
	font-size: 16px;
}
.exp_name p {
	padding-top: 15px;
	color: #444444;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
}

.exp_img:hover .exp_overlay {
	opacity: 1;
}

/*Experts CSS Ends*/

/*Impressed CSS Starts*/
.impressed {
	background: url(../img/Final-Projet-3.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 110px 0px 125px 0px;
}
.imp_con h2 {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #fff;
}
.imp_con p {
	font-size: 13px;
	color: #fff;
	padding: 13px 0px 127px 0px;
}
.imp_con a {
	padding: 19px 37px;
	background: #fff;
	color: #000;
	margin-left: 20px;
	transition: all linear .3s;
}
.imp_con a:hover {
	background: #ffe400;
}


/*Impressed CSS Ends*/

/*News CSS Starts*/
.news {
	padding: 138px 0px 170px 0px;
}
.news_img {
	position: relative;
}
.news_con {
	padding-top: 120px;
}
.news_h_con{
	position: absolute;
	top: 40px;
	left: 37%;
}
.news_h_con h4 {
	color: #444444;
	font-size: 26px;
	text-transform: uppercase;
}
.news_con_img {
	position: relative;
}
.news_overlay {
	height: 38px;
	width: 150px;
	background: #fff;
	padding-top: 13px;
	border-radius: 20px;
	position: absolute;
	bottom: -16px;
	left: 53px;
	
}
.news_overlay h6 {
	font-size: 12px;
}
.news_paragraph h4 {
	font-size: 18px;
	padding: 46px 0px 14px 0px;
	text-transform: uppercase;

}
.news_paragraph span {
	color: #757575;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}
.news_paragraph p {
	color: #757575;
	font-size: 14px;
	padding: 35px 0px 42px 0px;

}
.news_paragraph a {
	font-size: 10px;
	text-transform: uppercase;
	color: #000;
	padding: 10px 20px;
	border-radius: 20px;
	background: #f9f9f9;
	transition: all linear .3s;
}
.news_paragraph a:hover {
	background: #ffe400;
	border: 1px solid #000;
}

/*News CSS Ends*/

/*Contact CSS Starts*/
.contact {
	background: url(../img/contact_bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 120px 0px 150px 0px;
}

.contact_img {
	position: relative;
}
.contact_h_con{
	position: absolute;
	top: 40px;
	left: 37%;
}
.contact_h_con h4 {
	color: #444444;
	font-size: 26px;
	text-transform: uppercase;
}
.contact_form {
	padding-top: 171px;
	padding-bottom: 30px;
}

.contact_form input {
	height: 40px;
	width: 530px;
	border: 1px solid #dedede;
	margin-left: 16px;
	margin-top: 21px;
}
label,input {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
.form-control {
	width: 98%;
	margin-left: 15px;
	border: 1px solid #dedede;
	margin-top: 17px;

}
.contact_form textarea {
	height: 510px;
}
.form-control::placeholder {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
.contact a {
	background: #ffe400;
	color: #000;
	padding: 23px 45px;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 18px;
	border: 1px solid #dedede;
}
/*Contact CSS Ends*/

/*Map CSS Starts*/
.map {
	background: url(../img/map.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 68px 0px 72px 0px;
}
.map_con span {
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;


}
.map_con i {
	margin-left: 15px;
}

/*Map CSS Ends*/

/*footer CSS Starts*/
.footer {
	background: #212121;
	padding: 62px 0px 70px 0px;
}
.f_con p{
	font-size: 13px;
	color: #d4d4d4;
	padding-top: 33px;
	font-family: 'Muli', sans-serif;
}
.f_btn i {
	font-size: 19px;
	color: #fff;
	margin-left: 27px;
}
.f_btn {
    padding: 50px 26px 0px 0px;
}

/*footer CSS Ends*/


/*footer end CSS Starts*/
.footer_end {
	background: #2e2d2d;
	padding: 18px 0px 15px 0px;
}
.f_end p {
	font-size: 12px;
	font-family: 'Muli', sans-serif;
	color: #fff;
}



/*footer end CSS Ends*/

/*Responsive CSS */
/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 

	.port_con_box {
    	width: 300px;
    }	
    .port_overlay {
	    width: 300px;
	} 
	.options {
	  	width: 285px;
	}
	.pricing_overlay {
		width: 285px;
	}
	.pricing_start {
		width: 285px;
	}
	.exp_name {
		width: 285px;
	}
	.exp_overlay {
		width: 285px;
	}
	.exp_overlay .over_btn i {
    	font-size: 19px;
		margin-left: 20px;
	}	
	.contact_form input {
    	width: 445px;
    }



 }

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
	.banner {
		height: 560px;
	}

	.banner h1 {
    	padding: 150px 0px 30px 0px;
    	font-size: 28px;
    }
    .banner p {
	    font-size: 12px;
	    padding-bottom: 30px;
	}
	.banner a {
		padding: 10px 20px;
		font-size: 13px;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left: 0px;
	}
	.port_con {
		top: 44px;
	}.port_con h3 {
    	font-size: 22px;
    }	
    .port_h p {
   	 	font-size: 13px;
    	padding: 15px 0px 30px 0px;
	}
	.port_h a {
	    font-size: 13px;
	    padding: 10px 34px;
	} 
	.portfolio {
    	padding: 30px 0px 20px 0px;
	}
	.port_con_box i {
    	font-size: 60px;
   	 	padding: 60px 0px 30px 0px;
	}
	.port_con_box h3 {
    	font-size: 16px;
	}
	.port_con_box {
		height: 260px;
		width: 225px;
	}
	.port_overlay {
		height: 260px;
    	width: 225px;
	}
	.port_overlay h4 {
    	font-size: 18px;
   	 	padding: 60px 0px 40px 0px;
	}
	.port_overlay p {
    	font-size: 13px;
    }
    .ab_imp_h h4 {
    	padding: 60px 0px 45px 0px;
    	font-size: 20px;	
    }	
    .boost_h_con h4 {
		font-size: 22px;
	}	
	.boost_h_con {
		top: 10px;
	}
	.boost_h p {
    	padding: 10px 0px 5px 0px;
    	font-size: 12px;
    }	
    .boost_opt span {
    	font-size: 12px;
    }
    .boost {
    	padding: 50px 0px 50px 0px;
    }
    .boost_h a {
    	padding: 10px 13px; 
    	font-size: 12px;
    }	
    .boost_opt {
    	padding-bottom: 0px;
    }
    .about {
    	padding: 50px 0px;
    }
    .about_con h2 {
    	padding: 10px 0px 15px 0px;
    	font-size: 22px;
    }	
    .about_con p {
    	padding-bottom: 35px;
    	font-size: 12px;
    }
    .about_con a {
    	padding: 10px 30px;
    }
    .c_head h4 {
	    font-size: 22px;
	    top: 44px;
	    left: 20%;
	}
	.f_head {
    	padding: 30px 0px 40px 0px;
	}
	.feature_content h5 {
    	font-size: 14px;
    }
    .feature_content p {
		font-size: 12px;
		padding-top: 10px;
	}	
	.con_head h4 {
    	font-size: 22px;
    }
    .con_head {
	    top: 43px;
	    left: 38%;
	}	
	.w_head {
    	padding: 40px 0px 30px 0px;
	}
	.work_btn a {
	    padding: 7px 10px;
	    font-size: 12px;
	}
	.work {
		padding-bottom: 30px;
 	}
 	.work_overlay p {
		font-size: 12px;
	}
	.left_img {
    	padding-top: 20px;
	}	
	.ser_h {
	  	padding: 40px 0px 60px 0px;
	}
	.ser_con h3 {
    	font-size: 22px;
    }	
    .ser_con {
    	top: 45px;
    }	
    .right_con h5 {
    	font-size: 13px;
		padding: 5px 0px 5px 0px;
	}
	.right_con p {
		font-size: 11px;
	}	
	.right_con {
    	padding-bottom: 30px;
	}
	.pricing_overlay {
	    width: 206px;
	    height: 121px;
	}	
	.pricing_overlay h5 {
	    font-size: 11px;
		padding: 5px 0px 15px 0px;
	}	
	.pricing_overlay sup {
	    font-size: 16px;
	    top: -15px;
	}
	.pricing_overlay span {
    	font-size: 22px;
    }	
    .pricing_overlay h6 {
	    padding-bottom: 25px;
	    font-size: 10px;
	    padding-top: 15px;
	}
	.pricing_overlay p {
    	font-size: 11px;
    }	
    .options {
    	height: 300px;
    	width: 206px;
	}
	.options span {
    	font-size: 10px;
    	margin-left: 5px;
    }	
    .option_b {
    	height: 10%;
    	padding-top: 10px;
	}
	.con {
    	padding-top: 10px;
	}
	.option_b {
    	height: 20%;
    }
    .pricing_start p {
    	font-size: 10px;
   	 	padding-top: 8px;	
   	} 
   	.pricing_start {
		height: 30px;
	    width: 206px;
	}
	.pricing_list {
    	padding-top: 50px;
	}
	.pricing {
    	padding: 40px 0px 40px 0px;
	}
	.pricing_h_con h4 {
    	font-size: 22px;
	}	
	.pricing_h_con {
	    top: 43px;
	    left: 31%;
	}
	.expert {
    	padding: 50px 0px 50px 0px;
	}
	.expert_h_con h4 {
		font-size: 22px;
	}
	.expert_con {
    	padding-top: 50px;
	}
	.expert_h_con {
	    top: 42px;
	    left: 35%;
	}
	.exp_name {
    	width: 205px;
	}
	.exp_overlay {
    	height: 361px;
    	width: 205px;
	}
	.exp_overlay h3 {
	    font-size: 16px;
	    padding: 15px 0px 10px 0px;
	}
	.exp_overlay h5 {
    	font-size: 12px;
    	padding-bottom: 20px;
	}
	.exp_overlay p {
	    font-size: 12px;
	    padding-top: 50px;
	    padding-bottom: 100px;
	} 
	.hide {
		display: none;
	}
	.exp_overlay .over_btn i {
	    font-size: 13px;
	    margin-left: 13px;
	}
	.over_btn {
    	padding: 13px 26px 0px 0px;
	}
	.impressed {
		padding: 50px 0px;
	}
	.imp_con h2 {
		font-size: 18px;
	}
	.imp_con p {
		font-size: 11px;
		padding: 10px 0px 30px 0px;
	}
	.imp_con a {
    	padding: 10px 20px;
    }	
    .news {
    	padding: 50px 0px 50px 0px;
	}
	.news_h_con h4 {
		font-size: 22px;
	}
	.news_h_con {
	    top: 44px;
	    left: 34%;
	}
	.news_con {
    	padding-top: 40px;
	}
	.news_paragraph  {
		width: 80%;
	}
	.news_paragraph h4 {
	    font-size: 13px;
	    padding: 20px 0px 0px 0px;
	} 
	.news_paragraph p {
	    font-size: 12px;
	    padding: 10px 0px 10px 0px;
	}
	.news_paragraph a {
	    font-size: 9px;
		padding: 7px 10px;
	}
	.contact {
		padding: 50px 0px;
	}
	.contact_h_con h4 {
		font-size: 22px;
	}	
	.contact_h_con {
	    top: 44px;
	    left: 32%;
	}	
	.contact_form {
	    padding-top: 20px;
	    padding-bottom: 5px;
	}	
	.contact_form input {
	    height: 30px;
	    width: 326px;
	    margin-left: 0px;
	    margin-top: 10px;
	}
	label, input {
		font-size: 10px;
	}
	.contact_form textarea {
    	height: 200px;
	}
	.form-control {
		margin-left: 0px;
		width: 95%;
	}
	.contact a {
		padding: 8px 20px;
		font-size: 12px;
		margin-left: 0px;
	}
	.map_con span {
		font-size: 16px;
	}
	.map {
		padding: 20px 0px;
	}
	.footer {
		padding: 20px 0px;
	}
	.f_btn i {
		font-size: 13px;
		margin-left: 20px;
	}
	.f_con p {
		font-size: 9px;
		padding-top: 15px;
	}
	.f_end p {
		font-size: 8px;
	}
	.footer_end {
		padding: 10px 0px;
	}


}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 

	.content {
		padding-top: 40px;
	}
	.port_con_box {
    	margin-left: 50%;
    	transform: translateX(-50%);
    	margin-top: 20px;
    }	
    .ab_imp_h h4 {
	    padding: 30px 0px 30px 0px;
	    font-size: 17px;
	}
	.ab_last {
		text-align: center;
	}
	.news_overlay {
		left: 40px;
	}
	.news_paragraph {
    	width: 100%;
	}
	.ser_h {
		text-align: center;
	}
	.ser_con {
		left: 180px;
	}
	.f_btn i {
		margin-left: 17px;
	}
	.boost_h_con {
    	top: 31px;
	}
	.c_head h4 {
		left: 11%;
	}
	.hide {
		display: none;
	}
	.con_head {
		left: 33%;
	}
	.ser_con {
    	left: 133px;
	}
	.pricing_h_con {
		left: 24%;
	}
	.expert_h_con {
		left: 29%;
	}
	.pricing_overlay {
    	width: 145px;
    	height: 86px;
	}
	.pricing_overlay p {
    	font-size: 9px;
	}
	.pricing_overlay h6 {
		font-size: 8px;
    	padding-bottom: 12px;
    	padding-top: 0px;
    }	
    .options {
	    height: 200px;
	    width: 145px;
	}
	.con {
    	padding-top: 7px;
	}
	.option_b {
		padding-top: 5px;
	}
	.pricing_start {
		width: 145px;
	}
	.exp_overlay {
	    height: 269px;
	    width: 145px;
	}
	.exp_overlay p {
	    font-size: 11px;
	    padding-top: 10px;
	    padding-bottom: 50px;
	}
	.exp_overlay .over_btn i {
	    font-size: 12px;
	    margin-left: 8px;
	}
	.over_btn {
    	padding: 9px 5px 0px 0px;
	}
	.exp_name {
   		width: 145px;
   		height: 95px;
	}
	.news_h_con {
		left: 29%;
	}
	


 }



/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { ... }

/*// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width*/
